/* 侧边导航 */
.nav-side {
  float: left;
  width: 130px;
  min-height: 100px; /* 占位 */
}

.nav-side .nav-item {
  line-height: 25px;
  font-size: 13px;
}

.nav-side .nav-item .link {
  color: #888;
}

.nav-side .nav-item.active .link {
  color: #c60023;
}

/* 内容区域 */
.content.with-nav {
  float: left;
  width: 950px;
}